*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* global variable */
:root{
    --navbar-height: 10vh;
}
/* Main COntainer */

.main-container{
    display: flex;
}

/* Sidebar */
.left-side-container{
    width: 15vw;
    height: 100vh;
    border-right: 1px solid rgb(212, 197, 197);
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}

.brand-container{
    height: var(--navbar-height);
    border-bottom: 1px solid rgb(194 192 192);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.brand-name-container{
    margin-left: 3px;
}
.brand-name{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.brand-position{
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: rgb(134, 142, 150);
    font-size: 10px;
    text-transform: uppercase;
    /* line-height: 1.55; */
}

a{
    text-decoration: none;
}
.main-link{
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    align-items: center;
    /* background-color: antiquewhite; */
    padding: 10px;
}
.main-link .icon{
    margin-right: 5px;
}
.link-name{
    color: rgb(120, 122, 124);
    font-size: 12px;
    font-weight: 500;
}
.sidebar{
    padding: 10px;
}
.sidebar p{
    font-weight: 500;
    font-size: 12px;
    color: rgb(134, 142, 150);
}
.main-links-list{
    padding-left: 10px;
}

/* Hove Effect */
.main-links-list a:hover .main-link{
    background-color: rgb(246, 242, 255);
    color: black;
    border-radius: 10px;
    /* transition: all .1s ease; */
}
.main-links-list a:hover .link-name{
    color: black;
}
.main-links-list a .active{
  background-color: rgb(246, 242, 255);
  border-radius: 10px;
}


/* Right Container Css */
.right-side-container{
    width: 85vw;
    /* height: 100vh; */
    background-color: rgb(243 243 243);
    /* padding: 10px; */
}

.navbar-container{
    height: var(--navbar-height);
    border-bottom: 1px solid rgb(194 192 192);
    padding: 16px;
    display: flex;
    background-color: white;
    align-items: center;
    width: inherit;
}
.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    margin: 0 5px;
}
.profile{
    height: 50px;
    width: 50px;
    clip-path: circle(50%);
    background-color: rgb(246, 242, 255);
    font-size: 15.2px;
    color: rgb(136, 48, 247);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    /* position: relative; */
}

.content-container{
    padding: 16px;
}
.user-title{
    font-family: Roboto, sans-serif;
    /* -webkit-tap-highlight-color: transparent; */
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.user-table-container{
    margin-top: 5px;
}
.user-table{
    font-family: Roboto, sans-serif;
    width: 100%;
    caption-side: top;
    color: rgb(0, 0, 0);
    line-height: 1.55;
    /* border-collapse: separate;
    border-spacing: 0px; */
}
.user-table thead{
    color: rgb(38, 39, 40)
}
table{
    border:1px solid gray ; background-color: white;
}
th, td {
    border-top: 1px solid gray;   
    background-color: white;
  }

  th, td{
    padding: 5px;
  }
  .roleDiv{
    background-image: linear-gradient(to right, green,rgb(92, 192, 92));
    width: 60px;
    /* padding: 4px; */
    border-radius: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    padding: 3px;

  }
  .user-detail{
    display: flex;
    flex-direction: column;

  }
  .profilePic img{
    width: 40px;
    /* background-color: black; */
    border-radius: 10px;
    height: 40px;
    margin-right: 10px;
    /* border: 1px solid rgb(97, 94, 94); */
  }
  button{
    border: 0px;
    background-color: white;
    cursor: pointer;
  }
  .profile-container{
    position: relative;
    /* margin-right: 60px; */
    /* width: 200px;
    background-color: blueviolet; */
  }
  .profile-container2{
    display: flex;
  }
  .empty-container{
    width: 100px;
    /* display: inline; */
  }
  .dropdown-container{
    position: absolute;
    z-index: 100;
    /* top:10; */
    width: 140px;
    /* padding: 3px; */
    background-color: white;
    color: rgb(38, 39, 40);
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    border:1px solid rgb(212, 197, 197);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
   /* visibility: hidden; */
  }
  .edit-profile{
    border-bottom: 1px solid rgb(212, 197, 197);
    padding: 5px;
    margin: 1px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .edit-profile:hover,.logout-btn:hover{
    background-color: rgb(246, 242, 255);
    /* color: black; */
    border-radius: 5px;
  }
  .logout-btn{
    color: rgb(237, 100, 100);
    padding: 5px;
    margin: 1px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .dropdown-icon{
    margin-right: 7px;
  }
  .dropdown-container.active{
    opacity: 1;
    max-height: 100px;
  }


  /* Category CSs Start */

  .category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .category-add-link{
    margin-left: 50px;
    padding: 6px;
    background-color: rgb(136, 48, 247);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 130px;
    text-align: center;
    cursor: pointer;
  }
  .category-add-link button{
    color: white;
    background-color: rgb(136, 48, 247);
    font-weight: bold;
    font-size: 14px;


  }
  .category-table{
    margin-top: 10px;
  }

  .add-category-popup{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.338);
  }

  .add-category{
    background-color: white;
    /* height: 30vw; */
    width: 30vw;
    margin: auto;
    margin-top: 10vh;
    padding: 15px;
    /* transition: all 1s ease; */
  }
  .add-category-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-icon{
    cursor: pointer;
  }
  .category-label{
    margin-top: 5px;
    /* text-align: center; */
  }
  .category-image{
    margin: 5px 0px;
    /* text-align: center; */

  }
  .upload-image-container{
    /* margin-top: 10px; */
    height: 100px;
    margin: auto;
    width: 100%;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .uploaded-image-category{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #save-btn-category{
    padding: 3px;
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: rgb(143, 68, 235);
    font-weight: bold;
    color: white;
    margin-top: 5px;
    text-align: center;
    /* float: right; */

  }
  #submit-btn{
    display: flex;
    justify-content: flex-end;
  }
  #uploaded-image{
    width: 100%;
    
  }
.category-label input{
  padding: 5px;
}
  .category-label input::placeholder{
    padding-left: 5px;
  }

  /* Delete Category Pop Up Css */
  .delete-category-popup{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.338);
    top: 0;
    left: 0;
    /* opacity: .4; */
  }

.delete-message-box{
  color: black;
  background-color: white;
  /* height: 30vw; */
  width: 30vw;
  margin: auto;
  margin-top: 10vh;
  padding: 15px;
  text-align: center;
  font-weight:500;
  border-radius: 10px;
}
.message-box-and-close{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
  .close-box{
    cursor: pointer;
    /* border-color: none; */
  }
.delete-btn-category{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
  .deleteBtn-Category{
    background-color: rgb(225, 55, 55);
    color: white;
    font-weight: bold;
    border-radius: 7px;
    padding: 6px;
  }
  /* Delete Category Pop Up Css */



  /* Category Css ENd */

  /* Product Css Start */
.status-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.status{
  padding: 3px;
  background-color: rgb(227 223 236);
  border-radius: 5px;
  margin: 3px;
  font-size: 15px;
  cursor: pointer;

}

.activeCheck{
  margin-right: 3px;
  color: blue;
}
.category-add-link a{
  color: white;
}

.multiple-image-upload{
  height: 100px;
    margin: auto;
    width: 100%;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.multiple-image-conatiner{
  width: 100%;
  padding: 3px;
  display: inline;
}
.thumbnail{
  height: 100px;
  width: 100px;
  /* background-color: aqua; */
  padding: 3px;
  display: inline;
}

.add-product-submit{
  padding: 3px 15px;
  /* width: 70px; */
  border: none;
  border-radius: 5px;
  background-color: rgb(143, 68, 235);
  font-weight: 500;
  color: white;
  margin-top: 5px;
  text-align: center;
}

  /* Product Css End */


/* Edit Profile css */
.image-preview-container{
  position: relative;
}
#cancelButton{
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  cursor: pointer;
}

/* Edit Profile css end */


/* Log in Form Css */
.login-container{
  height: 100vh;
  width: 100vw;
  background-color: rgb(73, 169, 159);
  display: flex;
  justify-content: center;
  align-items: center;

}

.login{
  height: 400px;
  width: 400px;
  /* background: rgb(135,132,192);
background: linear-gradient(115deg, rgba(135,132,192,1) 0%, rgba(95,95,253,1) 45%, rgba(0,212,255,1) 85%);
color: white; */
color: white;
  border-radius: 30%;
  box-shadow: 1px 1px 10px 4px black;
  padding: 10px;
}
@media screen and (max-width:500px) {
  .login{
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  }
  .login .login-title{
    font-size: 16px;
    margin-top: 15px;
  }
  .forgetpw{
    font-size: 12px;
  }
  .rememberMe{
    font-size: 12px;
  }
}

.login-title{
  text-align: center;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 45px;
}
/* Log in css end */


.dataTables_wrapper .dataTables_filter input{
  /* border: 1px solid rgb(143, 68, 235) !important; */
  border-radius: 5px !important;
  padding-left: 10px !important;
}

/* Filter */
